span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid cadetblue;
}
.container {
    display: grid;
    grid-template-columns: 200px repeat(4, 1fr);
    grid-template-rows: 100px 200px 250px 150px;
    /* grid-template-rows: 20% 20% 20% 20% 20%; */
}

header {
    background-color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;

}

body > div:first-of-type {
    background-color: antiquewhite;
    grid-row: span 4;
}

body > ul:first-of-type {
    background-color: rgb(233, 245, 220);
    grid-column: 2 / 6;
    display: flex;
}

.twoby {
    width: 50%;
}

body > ul:last-of-type {
    background-color: rgb(255, 196, 196);
    grid-column: 2 / 6;
    display: flex;
}

.fourby {
    width: 50%;
}

footer {
    background-color: rgb(205, 218, 255);
    grid-column: 2 / 6;
}