span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 200px 250px 150px;
    /* grid-template-rows: 20% 20% 20% 20% 20%; */
}

header {
    background-color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;

}

body > div:first-of-type {
    background-color: antiquewhite;
    grid-row: span 4;
}

body > ul:first-of-type {
    background-color: beige;
    grid-column: 2 / 6;

}
